<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap" rel="stylesheet">
    <link rel="stylesheet" type='text/css' href="{% static 'stylesheet.css' %}">
    <link rel="stylesheet" href="/static/stylesheet.css?{% now "U" %}"/>
    <title>WatchWorthy</title>
</head>
<body class="body">
    <div class="heading">
        WatchWorthy.
    </div>
            <div class="form" style="margin: auto; width: 70%; padding: 30px; height: auto;">
                {% if error_message %}
                    <div style="color: #ff9d9d; font-family: 'Montserrat', sans-serif; font-size: 20px; font-weight: 400;">
                        {{ error_message }}
                    </div>
                {% endif %}

                {% if recommendations %}
                    {% for movie in recommendations %}
                        <div style="color: white; font-family: 'Montserrat', sans-serif; font-size: 40px; font-weight: 600;">
                            {{ movie.title }}
                        </div>
                        <div style="color: #c8c8c8; font-family: 'Montserrat', sans-serif; font-size: 20px; font-weight: 400;">
                            Genres: {{ movie.genres|join:', ' }}
                        </div>
                        {% if movie.overview %}
                            <div style="color: #9f9f9f; font-family: 'Montserrat', sans-serif; font-size: 16px; font-weight: 300; max-width: 60ch;">
                                {{ movie.overview }}
                            </div>
                        {% endif %}
                        <br>
                    {% endfor %}
                {% elif not error_message %}
                    <div style="color: #c8c8c8; font-family: 'Montserrat', sans-serif; font-size: 20px; font-weight: 400;">
                        Submit the form to see movie recommendations tailored to your preferences.
                    </div>
                {% endif %}
            </div>
    </div>
    

</body>
</html>